[Unit]
Description=Add succub-os built-in software 

[Service]
Type=oneshot
ExecStart=/usr/libexec/succub-os/flatpaks.sh
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target